<div class="block notice">
  <h3>Punktevergabe</h3>
  <div class="content">
    <p>Die Punkte errechnen sich wie bisher, wie folgt:</p>
    <p><b>richtiger Spielausgang:</b> 1 Pkt</p>
    <p><b>richtiges Ergebnis:</b> 3 Pkt</p>
    <p>Die Punkte werden automatisch errechnet sobald das Ergebnis eingetragen wird. Das eintragen übernimmt der nicht am Spiel teilnehmende, neutrale und unbestechliche Administrator, die aktuellsten Punkte sollten also in der Regel ab 8 Uhr des ersten Werktages nach Spielende vorliegen.</p>
  </div>
</div>