/* 
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/blue/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

div.block {
  width: 83%;
}

#sidebar {
  width: 15%;
}

.table.pokal {
  background: url('Pokal.png') no-repeat center;
}

td#gold {
  background: #FAA;
}

td#gold {
  background: #FFA;
}