<p>Hallo <%= @resource.name.split(' ').map(&:capitalize).join(' ').gsub('Vdh', 'vdH') %>!</p>

<p>Das ComCard Tippspiel gibt es ab diesem Jahr auch in digitaler Form. Um teilzunehmen einfach den folgenden Link betätigen und das Passwort ändern.</p>
<p><%= link_to '--> Drück mich <--', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Es ist sehr wahrscheinlich, dass der Link nicht auf Anhieb funktioniert. Dann müsst ihr in euren Browsereinstellungen den Rechner C1148 als Ausnahme in den Proxy-Regeln einstellen.
Wer grad nur Bahnhof versteht gibt mir kurz ein Zeichen dem stell ich das in wenigen Sekunden ein.</p>

<p>Fragen, Wünsche oder Kritiken werden selbstverständlich beantwortet. </p>

<p>Viel Spaß,</p>
<p>Holger</p>

<p>PS: Wer sich mit den bunten Farben nicht anfreunden kann, hat die Möglichkeit wie gewohnt seine Tipps bei Mandy abzugeben / einzusehen.</p>
